<menuCustom class="w-screen fixed top-0 z-10"></menuCustom>

<main class="pt-16 flex-1 overflow-y-auto overflow-x-hidden flex flex-col items-center">

    <!-- Preferiti -->
    <h1 class="w-full ps-2 pt-2 text-lg flex items-center"><i class='bxr  bx-star'></i>Preferiti</h1>
    <section class="w-full overflow-x-auto scrollbar-hidden flex items-center gap-4 px-3 py-5">
        <a routerLink="/project"
            class="group border-red-700 w-40 sm:w-48 md:w-56 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a>


    </section>

    <!-- Recenti -->
    <h1 class="w-full ps-2 text-lg flex items-center"><i class='bx bx-clock-4'></i>Recenti</h1>
    <section class="w-full overflow-x-auto scrollbar-hidden flex items-center gap-4 px-3 py-5">
        <a routerLink="/project"
            class="group border-red-700 w-40 sm:w-48 md:w-56 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-40 sm:w-48 md:w-56 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-40 sm:w-48 md:w-56 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-40 sm:w-48 md:w-56 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a>


    </section>

    <!-- I Miei Post-It -->
    <h1 class="w-full ps-2 text-lg flex items-center"><i class='bx bx-grid'></i>I Miei Post-it</h1>
    <section class="w-full overflow-x-auto scrollbar-hidden  px-4 py-5 grid grid-cols-2 sm:grid-cols-3  gap-2">
        <button
            class="border border-black w-auto lg:w-80 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer"
            onclick="newProject.showModal()">
            <i class='bx bx-file-plus text-3xl'></i>Nuovo Progetto
        </button>
        <a routerLink="/project"
            class="group border-red-700 w-auto lg:w-80 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-auto lg:w-80 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-auto lg:w-80 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a><a routerLink="/project"
            class="group border-red-700 w-auto lg:w-80 h-28 shrink-0 rounded-xl flex flex-col items-center justify-center cursor-pointer overflow-hidden relative">
            <div class="border border-yellow-400 w-full h-3/5 rounded-t-xl overflow-hidden relative"></div>
            <div class="border border-green-500 w-full h-2/5 rounded-b-xl flex items-center justify-start">
                <p class="px-2">Titolo</p>
            </div>

            <!-- Contenitore pulsanti -->
            <div
                class="absolute top-4 right-[-4.5rem] opacity-0 group-hover:opacity-100 group-hover:right-4 transition-all duration-300 flex gap-2">
                <!-- Stellina -->
                <label class="cursor-pointer flex items-center justify-center w-8 h-8">
                    <input type="checkbox" class="hidden peer" />
                    <i class="bx bx-star peer-checked:hidden text-yellow-400 text-2xl"></i>
                    <i class="bx bxs-star hidden peer-checked:inline text-yellow-400 text-2xl"></i>
                </label>

                <!-- Cestino -->
                <button class="text-white-500 hover:text-gray-400 text-2xl">
                    <i class="bx bx-trash"></i>
                </button>
            </div>
        </a>

    </section>

</main>